* {
    margin: 0px;
    padding: 0px;
}
body {

    background-color: darkred;
}


/*Encabezado*/
#encabezado {
    width: 1325px;
    height: 140px;    
    border-radius: 20px 20px 0 0;
    margin: auto;
    margin-top: 10px;
     background-color: red;
}
#logo {
    animation: 1s Animacion  1;
}
#logo img {
    width: 400px;
    height: 109px;
    margin-top: 16px;
    margin-left: 500px;


}


/*Menu Horizontal*/
#menu-horizontal {
    background-color: white;
    width: 1325px;
    height: 70px;
   margin: auto;
}

#menu-horizontal ul {
    list-style: none;
    display: flex;
    margin-left: 10px;
    justify-content: center;
   
    
}

#menu-horizontal a {
    color: black;
    display: block;
    padding: 20px;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    border: 1px solid black;
    margin-top: 3px;

}

#menu-horizontal ul ul {
    display: none;
    position: absolute;
    background-color: white;
    color: white;
}

#menu-horizontal ul li:hover ul {
    display: block;
    
}

#menu-horizontal a:hover {
background-color: red;
}


#contenedor {
    max-width: 1325px;
    min-height: 700px;
    background-color: aliceblue;
    margin:  0 auto;
}


/*Menu Vertical*/
#menuVertical {
    background-color: white;
    width: 295px ;
    min-height: 700px;
    float: left;
    border: 2px solid red;
}

#menuVertical img {
    height: 25px;
    width: 25px;
    margin-right: 10px;
}

#menuVertical ul {
    list-style: none;
    padding: 10px;
}

#menuVertical a:hover img {
    animation: 0.8s Rotacion 1;
}

#menuVertical a {
    display: block;
    background-color: red;
    color: black;
    padding: 25px;
    text-decoration: none;
    font-size: 20px;
    margin-bottom: 5px;
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
   

}

#menuVertical a:hover {
    background-color: aqua;
}

/*Contenido principal*/
#contenido {
    width: 1025px;
    min-height: 700px;
    background-color: red;
    float: right;
    padding: 15px;
    box-sizing: border-box;
}
#contenido h2 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 25px;
    font-size: 25px;
}
#contenido p {
    margin-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: justify;
    color: white;
    margin-left: 5px;
}
.container {
    max-width: 1325px;
    background-color: aliceblue;
    margin: 20px auto;
    padding: 20px;
    border-radius: 20px;
}
h1 {
    text-align: center;
    color: white;
    margin-bottom: 20px;
}
form {
    background-color: red;
    padding: 20px;
    border-radius: 10px;
    color: white;
}
label {
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
}
input[type="text"], input[type="email"], input[type="password"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 5px;
}
input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: darkred;
}






ol {
    list-style: decimal;
}
ol li {
    color: black; 
    size: 20px;
}

strong {
    color: black;
}

.Santander {
    float: left;
    height: 230px;
    width: 230px;
    margin-right: 10px;
    margin-bottom: 5px;
}


#Imagen_Sobre_Nosotros {
    height: 150px;
    width: 150px;
    margin-top: 10px;
   
}

Footer {
max-width:  1325px;
min-height: 130px;
background-color: gray;
margin: 0 auto;
border-radius: 0 0 20px 20px;
text-align: center;
font-size: 20px;
font-family: 'Times New Roman', Times, serif;

}

/*KeyFrames*/
@keyframes Animacion {
    0% {
        transform: translateY(-100px);
    }
}

@keyframes Rotacion { 
    0% {
        transform: rotate(360deg);
    }
}

@keyframes metro {
    0% { margin-left: 0%;}
    20% { margin-left: 0%;}
   
    25% { margin-left: -100%;}
    45% { margin-left: -100%;}
   
    50% { margin-left: -200%;}
    75% { margin-left: -200%;}
   
    80% { margin-left: -300%;}
    100% { margin-left: -300%;}
}